body {
    background-image: url(../public/window1.2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.compliment-container {
    background-image: url(../public/smallwindow.png);
    background-repeat: no-repeat;
    height: 500px;
    margin: 12% 30%;
    text-align: center;
}

.compliment {
    padding-top: 30%;
    color: rgb(255, 0, 128);
    font-family: 'Press Start 2P', cursive;
}