body {
 background-color: #2596be;
 border: 8px solid #04b3b4;
 border-radius: 10px;
}

.body-box {
    background-color: rgba(173,237,236,255);
    height: 85vh;
    margin: 20px;
    margin-top: 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #04b3b4;
    border-radius: 10px;
}

.compliment-container {
    background-color: #ffaec9;
    border: 8px solid #ff0080;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

.compliment {
    border: 8px solid #ff0080;
    border-radius: 10px;
    background-color: #ffe6ee;
    color: rgb(255, 0, 128);
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    line-height: 40px;
    margin: 0;
    height: auto;
    max-width: 50vw;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pics {
    height: auto;
    width: 20vw;
    margin-top: 0;
    border-radius: 20px;
}

.pink-border {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.blue-border {
    height: auto;
    width: 95%;
    padding: 0;
    margin: 5px;
    margin-bottom: 0;
    margin-left: 2%;
}